body {
    background-color: #ffccf2;
    /* Rosa claro para o fundo */
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.todo-container {
    background-color: white;
    /* Branco para o fundo do container */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

h1 {
    color: #ff66b2;
    /* Rosa para o título */
    margin-bottom: 20px;
}

#new-task-input {
    width: calc(100% - 22px);
    padding: 10px;
    border: 2px solid #ff66b2;
    /* Rosa para a borda */
    border-radius: 5px;
    margin-bottom: 10px;
}

#add-task-btn {
    background-color: #ff66b2;
    /* Rosa para o botão */
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    margin-bottom: 20px;
}

#add-task-btn:hover {
    background-color: #ff4da6;
    /* Um tom mais escuro de rosa ao passar o mouse */
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    background-color: #ffe6f2;
    /* Rosa claro para os itens da lista */
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    /* Fontes pretas */
}

button.delete-btn {
    background-color: #ff66b2;
    /* Botão de deletar rosa */
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px;
}

button.delete-btn:hover {
    background-color: #ff4da6;
}